.topbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.example-spacer {
  flex: 1 1 auto;
}

.navbar {
  display: flex;
  gap: 12px;
}

.page-shell{
  padding: 24px 32px
}

.beige-toolbar {
  background: #e8dcc8;
  color: #3e3228;
}

.navbar-button{
    color:#808000;
}
