<div class="skills-page">
  <h2 class="page-title">{{ title }}</h2>

  <div class="skills-grid">
    <mat-card class="skill-card" appearance="outlined" *ngFor="let course of courses">
      <mat-card-header>
        
        <mat-card-title>{{ course.title }}</mat-card-title>
        <mat-card-subtitle>{{ course.subtitle }}</mat-card-subtitle>
      </mat-card-header>

        <mat-progress-bar
      class="beige-progress"
      mode="determinate"
      [value]="course.percentage_done">
    </mat-progress-bar>
    <div class="progress-text">{{ course.percentage_done }}%</div>
      <mat-card-content>
        <p>{{ course.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="beige">Update</button>
        <button mat-stroked-button>Mark As Done</button>
        <button mat-button>Archive</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>